name: Release

on:
  schedule:
    - cron: '33 3 1 * *'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17

    - name: Build
      run: dicts.sh

    - name: Upload
      uses: softprops/action-gh-release@v1
      with: 
        tag_name: ${{ date "+%Y%m%d" }}
        files: dist/B*
        fail_on_unmatched_files: true
